@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import './fonts.css';
@import './global.css';
@import './tempo-tokens.css';
@import './docs-theme.css';
@import '../components/landing/styles.css';
@import '../components/landing/hero-nav.css';

@source '../../content/docs/**/*.{md,mdx}';
@source '../**/*.{ts,tsx}';
@source '../../node_modules/fumadocs-ui/dist/**/*.{js,mjs}';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;
  --removed-body-scroll-bar-size: 0px !important;
}
